*{
margin: 0;
padding: 0;
}


body{
max-width: 1500px;

}


.header-all{
width:100%;
height:900px;
background-image:url('../new-year/images/banner/banner1.png');
background-repeat: no-repeat;
overflow: hidden;
}

.header-text{
width: 700px;
height: 900px;
display: flex;
flex-direction: column;
text-align: right;
margin-left: 750px;
margin-right:250px;
margin-top: 216px;
margin-bottom:170px;

}


.h1{
    width: 525px;
    height: 228px;
    font-family: 'work sans';
    font-size:64px;
    font-weight: 700px;
   
}

.para{


    width: 494px;
    height:78px;
    font-family: 'work sans';
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 30px;
    
}
.btn{
width: 160px;
height: 64px;
border: none;
border-radius: 5px;   
padding:10px;
font-size:20px;
background-color: #F15B22;
margin-left:360px;
margin-top: 24px;

}

/* from here main body starts */


.main-all{

    width: 1600px;
    height:950px;
   overflow: hidden;
}

.main-pic{

    width: 451px;
    height: 898px;
    background-color: calc(); 
    margin-left: 130px;
  
   
}



.text-pic{
display:inline-flex;

}


.head1{
    width: 288px;
    height: 94;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:#151414;

}

.para2{

    width: 416px;
    height: 104px;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
}


.main-text{
display: flex;
flex-direction: column;
margin-left: 250px;
margin-top: 305px;

}

.list{
text-align:start;
}

.list ul li{
list-style: none;
}

.list ul li span{
padding: 0px 24px 0px 0px;
}




.pic-all{
width: 980px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin-left: 230px;
margin-bottom: 200px;
}


.pic-all span img{
display: inline-block;
width: 100px;
height: 100px;
padding: 80px;

}
#my{

text-align: center;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.web-h1{

    color:  #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.web-p{

    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 17px;
}

.main-footer-pic{

display: inline;
position: relative;
margin-left: 230px;


}

.background-image{

width: 69%;
height: 300px;

}

.overlay-image{

position: absolute;

left: 50%;
transform: translate(-50%, -0.1%);
width: 1000px;
height: 300px;

}

.main-footer-h1-btn{

    display:inline;
    flex-direction: column;
    position: absolute;

}


.main-footer-h1{

    color: #9b0a0a;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    width: 459px;

}

.main-footer-button{

    border-radius: 5px;
    background: #FFF;

}